@mixin transition($prop...) {
	transition-property: $prop;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}
@mixin breakpoint($size) {
	@media only screen and (max-width: $size) {
    @content;
  }
}
$black: #000;
$white: #fff;
$blue: #14bdff;
$small-screen: 568px;
$medium-screen: 768px;

#match-form {
  position: relative;
	overflow: hidden;
  &.review {
    display: flex;
    flex-flow: row wrap;
		align-items: center;
		.panel-counter {
			display: none;
		}
    .form-panel {
      width: 50%;
			position: relative;
			height: auto;
			opacity: 1;
			transform: none;

      &.match {
				justify-content: center;

				@include breakpoint($small-screen) {
					width: 100%;
				}
				.team {
					vertical-align: middle;
					width: 33%;
					display: inline-block;

				}
        .draw {
					height: auto;
					width: auto;
					border-radius: 0;
					max-width: 100%;
					padding: 0.5rem;
					margin: 0 1rem;

					@include breakpoint($small-screen) {
						//top: 0;
						text-align: center;
					}
					span {
						font-size: 1rem;
					}
        }
				.team-logo {
					margin: auto;
					height: auto;
					img {
						max-height: 100%;
						height: auto;
						max-width: 100%;
					}
				}

      }
    }
  }
  .match {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    .matchup {
      width: 100%;
      text-align: left;
      text-transform: uppercase;
    }
    .team {
      text-transform: uppercase;
			@include transition(color);
			.team-name {
				padding: 1em;
				position: relative;
				&:before {
					content: '';
					background-color: $blue;
					height: 100%;
					top: 0;
					left: 0;
					width: 0%;
					position: absolute;
					z-index: -1;
					@include transition(width);
				}
			}
      .team-logo {
        height: 200px;
				position: relative;
				opacity: 0.5;
				@include transition(opacity);
        img {
          z-index: 2;
          height: 100%;
          width: auto;
          display: block;
          margin: auto;
        }

      }
      &.active {
				color: #fff;
				.team-name {
					&:before {
						width: 100%;
					}
				}
				.team-logo {
					opacity: 1;
				}

      }
      &.draw {
        height: 150px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid #000;
				margin: 0 1em;
				position: relative;
				top: 1.5rem;
        span {
          font-size: 2em;
          font-weight: bold;
          text-transform: uppercase;
        }
        &.active {
          background-color: $blue;
          color: white;
          border-color: $blue;
        }
      }
    }
  }
	.form-panel {
		position: absolute;
		opacity: 0;
		height: 0;
		transform: translateX(-100%);
		@include transition(transform, opacity);
		&.active {
			position: relative;
			opacity: 1;
			height: auto;
			transform: translateX(0%);
		}
	}
}
#match-form-embed {
	.form-toggle {
		display: flex;
		width: 100%;
		align-items: center;

		.toggle-col {

			&.right {
				text-align: right;
				flex: 1;
			}
			.panel-counter {
				display: inline-block;
				text-align: center;
			}
		}

	}
	.btn {
		border-radius: 2em;
		text-transform: uppercase;
		border: 2px solid black;
		display: inline-block;
		text-align: center;
		padding: 0.5em 1em;
		font-weight: 700;
		&:hover {
			cursor: pointer;
		}
	}
	.form-progress {
		position: relative;
		height: 10px;

		.progress-bar {
			width: 0;
			height: 10px;
			background-color: $blue;
			position: absolute;
			@include transition(width);
		}
	}
}
