@mixin transition($prop...) {
	transition-property: $prop;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}
@mixin breakpoint($size) {
	@media only screen and (max-width: $size) {
    @content;
  }
}
body {
	background-color: #F9F9FB;
}

$black: #000;
$white: #fff;
$blue: #14bdff;
$red: #EF0107;
$light_gray: rgba(0,0,0,0.2);
$small-screen: 568px;
$medium-screen: 768px;

#match-form {
  position: relative;
	overflow: hidden;
  &.review {
		.panel-counter {
			display: none;
		}
    .form-panel {
			position: relative;
			height: auto;
			opacity: 1;
			transform: none;
			padding: 3em 0;
			border-bottom: 2px solid $light_gray;
			.text-input {
				input {
					border-bottom: none;
				}
			}
    }
  }
  .match {

		.team-grid {
			display: flex;
	    flex-flow: row nowrap;
	    align-items: center;
			padding: 1em 0;
	    text-align: center;
		}
    .matchup {
      width: 100%;
      text-align: left;
      text-transform: uppercase;
    }
    .team {
      text-transform: uppercase;
			@include transition(color);
			&:hover {
				cursor: pointer;
			}
			@include breakpoint($medium-screen) {
				width: 33%;
				flex: 1 1 auto;
			}

			.team-name {
				padding: 1em;
				position: relative;
				&:before {
					content: '';
					background-color: $blue;
					height: 100%;
					top: 0;
					left: 0;
					width: 0%;
					position: absolute;
					z-index: -1;
					@include transition(width);
				}
			}
      .team-logo {
        height: 200px;
				position: relative;
				opacity: 0.5;
				@include transition(opacity);
        img {
          z-index: 2;
          height: 100%;
          width: auto;
          display: block;
          margin: auto;
        }
				@include breakpoint($small-screen) {
					margin: auto;
					height: auto;
					img {
						max-height: 100%;
						height: auto;
						max-width: 100%;
					}
				}
      }
      &.active {
				color: #fff;
				.team-name {
					&:before {
						width: 100%;
					}
				}
				.team-logo {
					opacity: 1;
				}

      }

    }
  }
	.form-panel {
		position: absolute;
		opacity: 0;
		height: 0;
		transform: translateX(-100%);
		@include transition(transform, opacity);
		.text-input {
			label {
				text-transform: uppercase;
			}
			input {
				border: none;
				outline: none;
				background-color: transparent;
				border-bottom: 2px solid $light_gray;
				font-size: 2em;
				padding: 0.5em;
				font-weight: bold;
				&::placeholder {
					color: $light_gray;
				}
			}
		}
		.error {
			display: none;
			color: $red;
			font-weight: bold;
			padding: 1em 0;
			font-size: 18px;
			line-height: 1.5;
		}
		&.active {
			position: relative;
			opacity: 1;
			height: auto;
			transform: translateX(0%);
		}
	}
}
#match-form-embed {
	overflow: hidden;
	min-height: 300px;
	position: relative;
	display: inline-block;
	.hidden {
		display: none !important;
	}
	h2,h3,h4 {
		margin: 0;
	}
	a.copyright {
		margin-top: 1rem;
		color: $light_gray;
		font-weight: bold;
		display: inline-block;
		text-decoration: none;
	}
	.form-toggle {
		display: flex;
		width: 100%;
		align-items: center;
		padding-top: 1em;
		h3 {
			font-size: 1em;
		}
		.toggle-col {

			&.right {
				text-align: right;
				flex: 1;
				padding-left: 1em;
			}
			.panel-counter {
				display: inline-block;
				text-align: center;
				margin-right: 1em;
			}
		}

	}
	.btn {
		border-radius: 2em;
		text-transform: uppercase;
		border: 2px solid black;
		display: inline-block;
		text-align: center;
		padding: 0.5em 1em;
		font-weight: 700;
		background-color: transparent;
		color: inherit;
		@include transition(background-color,border-color,color);
		&:hover {
			cursor: pointer;
			background-color: $blue;
			border-color: $blue;
			color: $white;
			h3 {
				color: inherit;
			}
		}
	}
	.form-progress {
		position: relative;
		height: 10px;
		.progress-bar {
			width: 0;
			height: 10px;
			background-color: $blue;
			position: absolute;
			@include transition(width);
		}
	}
	#form-success {
		height: 0;
		opacity: 0;
		overflow: hidden;
		transform: translateY(-100%);

		background-color: transparent;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $black;
		width: 100%;
		z-index: -1;
		@include transition(transform,opacity);
		&.active {
			height: 100%;
			opacity: 1;
			z-index: 10;
			padding: 2em 0;
			transform: translateY(0%);
		}
	}
}
